body {
  background-color: rgb(35, 131, 233);
  background: linear-gradient(to left, red, blue,green);
}
img {
  width: 40%;
}
#img1 {
  width: 33%;
}
#paragraph {
  background-color: rgb(224, 230, 211);
}
#images {
}

#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#navItem {
  float: left;
}

#navItem a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navItem a:hover {
  background-color: #111;
}
